.root {
  width: 100%;
}

.homepage {
  position: absolute;
  z-index: 10;

  .nav {
    justify-content: flex-end;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.link-contact {
  color: #ffffff;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  text-decoration: none;
}

.logo {
  width: 5rem;
  height: auto;
}
