@use '../../../styles/mixins';

.root {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  position: fixed;
  z-index: 10;

  @include mixins.breakpoint-up(md) {
    padding: 2rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    height: auto;
    width: 2rem;
  }
  @include mixins.breakpoint-up(md) {
    svg {
      width: 2.5rem;
    }
  }
}
