.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: end;

  svg {
    height: 4.5rem;
  }
}

.clients {
  justify-self: start;
  display: grid;
  line-height: 1.1;
}

.client {
  font-family: var(--font-family-alt);
}

.socials {
  justify-self: end;
  text-align: end;
  width: 100%;
  color: var(--color-brand);
  text-decoration: none;
  line-height: 1;

  &--hover {
    text-decoration: underline;
  }
}
