@use '../../../styles/mixins';

.root {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: end;
  gap: 3rem;

  svg {
    width: auto;
    height: 4.5rem;
  }

  @include mixins.breakpoint-up(lg) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &--homepage {
    @include mixins.breakpoint-up(lg) {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.clients {
  display: grid;
  line-height: 1.1;
  text-align: center;

  @include mixins.breakpoint-up(lg) {
    justify-self: start;
    text-align: start;
  }
}

.client {
  font-family: var(--font-family-alt);
}

.socials {
  text-align: center;
  width: 100%;
  color: var(--color-brand);
  text-decoration: underline;
  line-height: 1;

  @include mixins.breakpoint-up(lg) {
    justify-self: end;
    text-align: end;
    text-decoration: none;
    &--hover {
      text-decoration: underline;
    }
  }
}
