@use '../../styles/mixins';

.contact {
  height: 100%;
  display: grid;
  align-items: center;
}

.contact__inner {
  display: grid;
  gap: 2rem;

  h1 {
    @include mixins.breakpoint-up(xs) {
      font-size: 3rem;
    }

    @include mixins.breakpoint-up(md) {
      text-align: center;
      font-size: 3.5rem;
    }

    @include mixins.breakpoint-up(lg) {
      font-size: min(7.5rem, 6.6vw);
    }
  }

  a {
    color: #ffffff;
    text-decoration: underline;
  }
}
