@use '../../styles/mixins';

.landing {
  min-height: 100vh;
  background: #e434ff;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

.landing__inner {
  display: grid;
  justify-items: center;
  gap: 0.25rem;
  margin-bottom: 4rem;
  z-index: 1;
  width: 100%;

  svg {
    width: 100%;
    max-width: 130px;
    height: auto;
  }

  @include mixins.breakpoint-up(md) {
    svg {
      max-width: 420px;
    }
  }
}

.landing__text {
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;

  @include mixins.breakpoint-up(md) {
    font-size: inherit;
  }
}

.landing__video {
  object-fit: cover;
  object-position: 50% 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
