@use '../../styles/mixins';

.root {
  display: grid;
  min-height: 80vh;

  @include mixins.breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.info {
  display: grid;
  align-content: start;
  padding-right: 3rem;
}

.title {
  font-size: 2.5rem;
  width: 100%;

  @include mixins.breakpoint-up(xs) {
    font-size: 3rem;
  }

  @include mixins.breakpoint-up(md) {
    font-size: 3.5rem;
  }

  @include mixins.breakpoint-up(lg) {
    font-size: min(7.5rem, 6.6vw);
  }
}

.year {
  @include mixins.breakpoint-up(lg) {
    font-size: 3rem;
  }
}

.description {
  font-weight: 500;
}

.images {
  display: grid;
  align-content: start;
  gap: 2rem;
}

.image {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
}
