@use '../../styles/mixins';

.root {
  display: grid;
  gap: 3rem;
  min-height: 80vh;

  @include mixins.breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.breakpoint-up(xl) {
    gap: 5rem;
  }
}

.info {
  display: grid;
  gap: 0.5rem;
  align-content: start;
}

.title {
  font-size: 2.5rem;
  width: 100%;

  @include mixins.breakpoint-up(xs) {
    font-size: 3rem;
  }

  @include mixins.breakpoint-up(md) {
    font-size: 3.5rem;
  }

  @include mixins.breakpoint-up(lg) {
    font-size: min(7.5rem, 6.6vw);
  }
}

.year {
  @include mixins.breakpoint-up(lg) {
    font-size: 3rem;
  }
}

.description {
  font-weight: 500;
  margin-top: 3rem;

  @include mixins.breakpoint-up(lg) {
    font-size: 3rem;
  }
}

.images {
  display: grid;
  align-content: start;
  gap: 2rem;
}

.image {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
}

.footnote {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 1.125rem;

  @include mixins.breakpoint-up(md) {
    font-size: inherit;
  }
  @include mixins.breakpoint-up(xl) {
    margin-top: 0.25rem;
  }
}
