@use '../../styles/mixins';

.root {
  display: grid;
  min-height: 80vh;
  align-items: start;
  gap: 2rem;
  padding-top: 5rem;

  @include mixins.breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

.info {
  display: grid;
  align-content: start;
  min-width: 0;
  overflow: hidden;

  @include mixins.breakpoint-up(md) {
    position: sticky;
    // padding top + height of header
    top: 7.5rem;
    padding-right: 3rem;
  }
}

.title {
  width: 100%;
  font-size: min(3.5rem, 13vw);
  hyphens: auto;
  overflow: hidden;
  display: block;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @include mixins.breakpoint-up(md) {
    font-size: min(3.5rem, 6vw);
  }

  @include mixins.breakpoint-up(lg) {
    font-size: min(7.5rem, 5.8vw);
  }
}

.year {
  margin-bottom: 1rem;
  @include mixins.breakpoint-up(lg) {
    font-size: 3rem;
  }
}

.description {
  font-weight: 500;
}

.images {
  display: grid;
  align-content: start;
  gap: 2rem;
  min-width: 0;
}

.image {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
}

.footnote {
  margin-top: 2rem;
  display: inline-block;
}
