@font-face {
  font-family: 'Neue Haas Unica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('/fonts/neue_haas_unica_regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Neue Haas Unica';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''), url('/fonts/neue_haas_unica_medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Cooper Std';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('/fonts/cooper_std_black.woff2') format('woff2');
}
